INFLUX_URL_DEFAULT = "https://us-east-1-1.aws.cloud2.influxdata.com"
INFLUX_TOKEN_DEFAULT = "6pSuWQaFLlWq6iRVfaRYEMwIO1DDEChBsG42HdDx5En6fuqpUx95j3xswbVNrcWxRrs_sizN6XXESjzNqcHzJA=="
INFLUX_ORG_DEFAULT = "DEV_TEAM"
INFLUX_BUCKET_DEFAULT = "digital_twin_data"